* {
    margin: 0;
    padding: 0;
}

#menu {
    background: lightslategray;
    width: 25%;
    height: 100vh;
    float: left;
    display: block;
    margin-right: 1%;
}

#menu select {
    height: max-content;
    border: 1px solid #ccc;
    background: #f6f6f6;
    background-image: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    padding: 0 .5em;
    margin: .5em;
    display: block;
}

#menu button {
    height: 2.0833em;
    border: 1px solid #ccc;
    background: #f6f6f6;
    background-image: 0;
    filter: progid: DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff, endColorStr=#efefef);
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FFFFFF, endColorStr=#EFEFEF)";
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    overflow: visible;
    padding: 0 .5em;
    margin: .5em;
}

#menu button:hover {
    -box-shadow: #999 0px 0px 3px;
    background: #F3F3F3 -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#EBEBEB));
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#EBEBEB));
    border-color: #999;
    outline: 0px;
}

#menu button:active {
    -box-shadow: #999 0px 0px 3px;
    background: #F3F3F3 -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#EBEBEB));
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#EBEBEB));
    border-color: #800;
    outline: 0px;
}

#map {
    width: 74%;
    height: 100vh;
    float: right;
}